
.DS_Store
supernaturalsightings-olivia/supernaturalsightings-olivia/obj/
supernaturalsightings-olivia/supernaturalsightings-olivia/bin/
supernaturalsightings-olivia/.vs/
/.vs/LC Liftoff Supernatural Sightings-Cloned/FileContentIndex
/supernaturalsightings-olivia/.vs/supernaturalsightings_olivia/FileContentIndex/43079536-8216-4b0f-8e25-b9eebc2b16e9.vsidx
/supernaturalsightings-olivia/.vs/supernaturalsightings_olivia/FileContentIndex/63f1f5c3-53d6-42d6-8d7f-378cbc804b78.vsidx
/supernaturalsightings-olivia/.vs/supernaturalsightings_olivia/FileContentIndex/aabfefd4-8ae0-423a-86ca-df37a9b435fa.vsidx
/supernaturalsightings-olivia/.vs/supernaturalsightings_olivia/FileContentIndex/b91ec373-6db8-4bce-af4c-9b6e3155e1c9.vsidx
/supernaturalsightings-olivia/.vs/supernaturalsightings-olivia/FileContentIndex/e1eaabfb-21f7-4054-80f9-bdd512a85704.vsidx
