@page
@model supernaturalsightings_olivia.Views.User.ProfileModel
@{
}
@using Microsoft.AspNetCore.Identity
</br>
</br>
<div id="profileviewcard" class="text-center blink2" style="border-radius: 6px">
    
        <!--User Avatar-->
        <p class="profileemoji">@ViewBag.user.Emoji</p>
        <!--User Name-->
        <h5 class="my-3">@ViewBag.user.DisplayName</h5>
        <!--User Bio-->
        <p class="text-muted mb-1">@ViewBag.user.Bio</p>
        </br>

        <!--
        <div class="d-flex justify-content-center mb-2">
            <button type="button" class="btn btn-primary">Follow</button>
            <button type="button" class="btn btn-outline-primary ms-1">Message</button>
        </div>
        -->
</div>


</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>