@page
@model IndexModel
@{
    ViewData["Title"] = "Display Name & Bio";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.DisplayName" class="form-control"></label>
                    <input asp-for="Input.DisplayName" class="form-label" />
                </div>
                 <div class="form-group">
                <label asp-for="Input.Bio" class="form-control"></label>
                <input asp-for="Input.Bio" class="form-label" />
                 </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
