@{
    ViewData["Title"] = "About Us";
}



<div id="aboutcard" class="card blink2" style="border-radius: 6px;">
    
      <div  class="container py-5">
        <div class="row mb-4">
          <div class="col-lg-5">
            <h1 class="display-4 font-weight-light">@ViewData["Title"]</h1>
            <p class="font-italic text-muted">Meet the team that created this project!</p>
          </div>
        </div>
        <div class="row text-center">

          <!-- Team item EMILY-->
            <div  class="col-xl-4 col-sm-6 mb-5" >
                <div class="bg-white rounded shadow-sm py-5 px-4" id=" teamsquare">
                    <img src="~/images/linkemily.jpg"  alt="photo" width="100" id="circlepic" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm ">
              <h5 class="mb-0">  Emily Rockwell  </h5><span class="small text-muted">Software Engineer</span>
              <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item">
                            <a href="https://github.com/wildNoodleBrain" class="social-link">
                                <img src="~/Images/github.png" alt="github logo" height="29px" width="29px">
                            </a>
                           
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/itismeemily/" class="social-link">
                                <img src="~/Images/linkedin.png" alt="linkedin logo" height="27px" width="27px">
                            </a>
                        </li>
              </ul>
            </div>
          </div>
          <!-- End-->

        
          <!-- Team item JACQUE-->
          <div class="col-xl-4 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="~/images/linkjac.png" alt="" width="100" id="circlepic" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Jacqueline Mueller</h5><span class="small text-muted">Software Engineer</span>
              <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item">
                                <a href="https://github.com/jacattack33" class="social-link">
                        <img src="~/Images/github.png" alt="github logo" height="29px" width="29px"></a>
                </li>
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/jacquelinemueller123" class="social-link">
                                <img src="~/Images/linkedin.png" alt="linkedin logo" height="27px" width="27px"></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- End-->

          <!-- Team item TANYA-->
          <div class="col-xl-4 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="~/images/linktanya.png" alt="" width="100" id="circlepic" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Tanya Buechel</h5><span class="small text-muted">Software Engineer</span>
              <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item">
                            <a href="https://github.com/TanyaBuechel" class="social-link">
                        <img src="~/Images/github.png" alt="github logo" height="29px" width="29px"></a>
                </li>
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/tanya-buechel-854337232/" class="social-link">
                                <img src="~/Images/linkedin.png" alt="linkedin logo" height="27px" width="27px"></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- End-->

          <!-- Team item LESLIE-->
          <div class="col-xl-4 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="~/images/linkleslie.jpg" alt="" width="100" id="circlepic" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Leslie Bradshaw</h5><span class="small text-muted">Software Engineer</span>
              <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item">
                            <a href="https://github.com/codeswitching9" class="social-link">
                        <img src="~/Images/github.png" alt="github logo" height="29px" width="29px"></a>
               </li>
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/leslieabradshaw/" class="social-link">
                        <img src="~/Images/linkedin.png" alt="linkedin logo" height="27px" width="27px"></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- End-->

        <!-- Team item MEGHAN-->
        <div class="col-xl-4 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="~/images/linkmeg.jpeg" alt="" width="100"id="circlepic" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Meghan McCarthy</h5><span class="small text-muted">Software Engineer</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item">
                            <a href="https://github.com/megtails" class="social-link">
                            <img src="~/Images/github.png" alt="github logo" height="29px" width="29px">
                        </a>
                    </li>
                    <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/mccarthymeghan/" class="social-link">
                            <img src="~/Images/linkedin.png" alt="linkedin logo" height="27px" width="27px">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End-->

        </div>
      </div>

</div>



