
<div id="homepagecardtop" class="card blink" style="border-radius: 6px;">
    <div class="text-center">
        <h1 class="display-4">Let's Get Weird!</h1>
    </div>
</div>

<div id="homepagecard" class="card blink" style="border-radius: 6px;" >
    </br>
    <p class="text-center lead fw-bold">Are you someone who loves watching horror movies? </br>
    Have you ever wanted to visit someplace haunted in real life? 
         </p>
    <p class="indent lead ">If you're someone who seeks the bizarre or supernatural, this is the site for you! It's a simple-to-use guide to finding 
        supernatural spots around the United States. Users who create accounts can search for supernatural hotspots, save their favorites, and leave ratings and reviews about 
         their experiences in those locations. You can even assign your saved places to a folder to make planning specific trips easy. 
         Read reviews from other users to determine if a location is worth looking into. From ghosts to aliens to cryptids... it has never 
         been easier to find your new favorite haunt!
    </P> 
    <div class="featureList">
        <ul class="featureListBullets">
          <li class=" lead fw-bold">Create an account!</li>
          <li class="fw-bold lead" >Read sightings from other Weirdos!</li>
          <li class="fw-bold lead">Save supernatural sightings to your favorites list!</li>
          <li class="fw-bold lead">Leave Reviews!</li>
        </ul>
     </div>
       
</div>

<!--Google Map-->
<div id="homepagecard" class="card blink" style="border-radius: 6px; align-items: center" >
    <h2 class="display-6">Ready to get weird?</h2>
    <p>Click on the map icons below for more information.</p>
    <p><img src="~/Images/alienicon.png">- Alien <img src="~/Images/ghosticon.png">- Ghost <img src="~/Images/bigfooticon.png">- Bigfoot</p>
<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1pRG2OUyUPWGpBvu90_WuNyFrzm1V8AU&ehbc=2E312F" width="100%" height="480"></iframe></div>

<div id="carocard" class="card blink" style="border-radius: 6px;" >
    <div class="containercaro">
       <div class="imagewrapper">
          <img class="caroimage" src="~/Images/house.jpg">
          <img class="caroimage" src="~/Images/alienface.jpg">
          <img class="caroimage" src="~/Images/bigfootguy.jpg">
          <img class="caroimage" src="~/Images/house.jpg">
          <img class="caroimage" src="~/Images/alienface.jpg">
          <img class="caroimage" src="~/Images/bigfootguy.jpg">
       </div>
    </div>
</div>

