@{
    ViewData["Title"] = "Home Page";
}

<div id="homepagecardtop" class="card blink" style="border-radius: 6px;">
    <div class="text-center">
        <h1 class="display-4">Let's Get Weird!</h1>
    </div>
</div>

<div id="homepagecard" class="card blink" style="border-radius: 6px;" >

    <p class="indent">Are you someone who loves watching horror movies? Have you ever wanted to visit someplace haunted in real life? 
        If you're someone who seeks the bizarre or supernatural, this is the site for you! It's a simple-to-use guide to finding 
        supernatural spots around the United States. 
    </p> 
     <p class="indent">Users who create accounts can search for supernatural hotspots, save their favorites, and leave ratings and reviews about 
         their experiences in those locations. You can even assign your saved places to a folder to make planning specific trips easy. 
         Read reviews from other users to determine if a location is worth looking into. From ghosts to aliens to cryptids... it has never 
         been easier to find your new favorite haunt!"
    </P> 
        <ul>
          <li>Create an account!</li>
          <li>Read reviews from other Weirdos!</li>
          <li>Save supernatural sightings to a list!</li>
          <li>Rate sightings!</li>
        </ul>
</div>

<!--Google Map-->
<div id="homepagecard" class="card blink" style="border-radius: 6px; align-items: center" >
    <h2>Ready to get weird?</h2>
    <p>Click on the map icons below for more information.</p>
    <p><img src="~/Images/alienicon.png">- Alien <img src="~/Images/ghosticon.png">- Ghost <img src="~/Images/bigfooticon.png">- Bigfoot</p>
<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1pRG2OUyUPWGpBvu90_WuNyFrzm1V8AU&ehbc=2E312F" width="640" height="480"></iframe></div>

<div id="homepagecard" class="card blink" style="border-radius: 6px;" >
        <P > Randomized location/ activity </P>
        <p> image of location</p>    
</div>

<div id="homepagecard" class="card blink" style="border-radius: 6px;" >
        <P> Randomized location/ activity </P>
        <img src="https://images.unsplash.com/photo-1572455658253-7e14e62862a3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="haunted house" > 
</div>


