@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

/*ALL-----------------------------*/
html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
body {
    margin-bottom: 60px;
    background-image: url(https://images.unsplash.com/photo-1534193708707-6be94c4f67d3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#genericcard {
    background-color: #ffffff;
    margin: 25px auto;
    padding: 10px;
    width: 80%;
    min-width: 300px;
    opacity: 85%;
}

.blink2 {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.85;
    }
}
/*---------------------------------*/


/*Navigation Bar --------------------*/
.navbar .navbar-nav .nav-link:hover {
    background-color: #d5d5d5;
    border: solid #9d9999 1px;
}

.navbar .navbar-nav .nav-link {
    padding: 0.6em;
    font-size: 1em;
    transition: all 1s;
    border: solid #fff 1px;
    border-radius: 10px;
}

.navbar {
    box-shadow: 0px 0px 15px 2px black;
}
/*---------------------------------*/


/*Home page ----------------------*/
#homepagecard {
    background-color: #ffffff;
    margin: 25px auto;
    padding: 10px;
    width: 80%;
    min-width: 300px;
    opacity: 85%;
}

#homepagecardtop {
    background-color: #ffffff;
    margin: 25px auto;
    padding: 10px;
    width: 60%;
    min-width: 300px;
    opacity: 85%;
}

p.indent {
    text-indent: 30px;
}

.blink {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.85;
    }
}
/*---------------------------------*/


/* ABOUT US PAGE -------------------*/
.social-link {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 70%;
    transition: all 0.3s;
}

#aboutcard {
    background-color: #ecedee;
    margin: 25px auto;
    padding: 10px;
    width: 90%;
    min-width: 300px;
    opacity: 85%;
    color: black;
}

#circlepic:hover {
    transform: scale(1.1);
    transition: 1s;
}

#teamsquare {
    box-shadow: 0 6px 10px rgba(0,0,0,.08);
  
}
/*---------------------------------*/


/*Ghost-----------------------------*/
.ghost {
    animation: float 3s ease-out infinite;
}

@keyframes float {
    50% {
        transform: translate(0, 20px);
    }
}

/*---------------------------------*/


/*Search page ----------------------*/
#searchcard {
    background-color: white;
    margin: 25px auto;
    padding: 10px;
    width: 90%;
    min-width: 300px;
    opacity: 85%;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}


.searchTerm {
    width: 100%;
    border: 3px solid dodgerblue;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

    .searchTerm:focus {
        color: dodgerblue;
        border: 3px solid dodgerblue;
        box-shadow: 5px 10px 20px gray;
    }

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid dodgerblue;
    background: dodgerblue;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.wrap {
    width: 30%;
    position: absolute;
}

.radiooptions label {
    display: inline-block;
    position: relative;
    padding-right: 8px;
}

.checkboxoptions label {
    display: inline-block;
    position: relative;
    padding-right: 8px;
}
/*---------------------------------*/


/*Favorites List-------------------*/
#favoritecard {
    background-color: #ffffff;
    margin: 25px auto;
    padding: 10px;
    width: 70%;
    min-width: 300px;
    opacity: 85%;
}

#NewDescriptionText {
    height: 100px;
}

.alien {
    position: center;
    background-color: #252525;
    width: 100px;
    height: 100px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 200px;
    -webkit-box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.5);
}

    .alien:before {
        content: "";
        position: absolute;
        width: 26px;
        height: 26px;
        background-color: #0b0b0b;
        border-top-left-radius: 200px;
        border-bottom-right-radius: 200px;
        top: 66px;
        left: 33px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .alien:after {
        content: "";
        position: absolute;
        width: 26px;
        height: 26px;
        background-color: #0b0b0b;
        border-top-left-radius: 200px;
        border-bottom-right-radius: 200px;
        top: 33px;
        left: 66px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .alien:hover {
        background: radial-gradient(circle, #a2f793, #58f03e);
        -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5), 0 0 20px 20px rgba(88, 240, 62, 0.4);
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5), 0 0 20px 20px rgba(88, 240, 62, 0.4);
    }

.smallalien {
    position: center;
    background-color: #252525;
    width: 80px;
    height: 80px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 200px;
    -webkit-box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.5);
}

    .smallalien:before {
        content: "";
        position: absolute;
        width: 21px;
        height: 21px;
        background-color: #0b0b0b;
        border-top-left-radius: 200px;
        border-bottom-right-radius: 200px;
        top: 53px;
        left: 26px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .smallalien:after {
        content: "";
        position: absolute;
        width: 21px;
        height: 21px;
        background-color: #0b0b0b;
        border-top-left-radius: 200px;
        border-bottom-right-radius: 200px;
        top: 26px;
        left: 53px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .smallalien:hover {
        background: radial-gradient(circle, #a2f793, #58f03e);
        -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5), 0 0 20px 20px rgba(88, 240, 62, 0.4);
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5), 0 0 20px 20px rgba(88, 240, 62, 0.4);
    }

/*---------------------------------*/

/*Sign up and login pages ----------------------*/
#signup-logincard {
    background-color: #ffffff;
    margin: 25px auto;
    padding: 10px;
    width: 80%;
    min-width: 300px;
    opacity: 85%;
}

p.indent {
    text-indent: 30px;
}

.blink {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.85;
    }
}
/*---------------------------------*/


/*Results Page-------------------*/
div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    padding: 40px;
    font-size: 25px;
    opacity: 85%;
    padding: 10px;
    margin: 25px auto;
    width: 70%;
    min-width: 300px;
}

#resultscard {
    background-color: #ffffff;
    margin: 25px auto;
    padding: 10px;
    width: 70%;
    min-width: 300px;
    opacity: 85%;
}

p.indent {
    text-indent: 30px;
}

.blink {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.85;
    }
}

.xsearch-items {
    padding-left: 0px;
}

.search-item-img {
    float: left;
    position: relative;
}

    .search-item-img img, .search-item-img .img-holder {
        height: 70px;
        width: 70px;
        display: block;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        box-shadow: 0 1px 3px rgba(50,50,93,.15), 0 1px 0 rgba(0,0,0,.02);
        border: 2px solid darkgray;
    }

.search-item-content {
    margin-left: 100px;
    padding-bottom: 35px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(231, 231, 231);
}

/*---------------------------------*/


    /* ALIEN IMAGE ON FAVORITES PAGE
Copyright (c) 2023 by Vedurumudi Priyanka (https://codepen.io/Vedurumudi-Priyanka/pen/oNxBmaV)
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

GHOST IMAGE ON SEARCH PAGE
Copyright (c) 2023 by Beep (https://codepen.io/scoooooooby/pen/DLqWYP)
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/